* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0f0e0e;
}
section {
  position: absolute;
  width: 100vw;
  height: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#600347, rgb(34, 108, 14),#910f0f);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
section span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #031140;
  z-index: 2;
  transition: 1.5s;
}
section span:hover {
  background:#076e9d;
  transition: 0s;
}

.login-container {
  position: absolute;
  width: 400px;
  background: #076e9d;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 9);
}
input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  
}
button {
  width: 100%;
  padding: 10px;
  background-color:#031140;
  color: rgb(255, 253, 253);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
.error {
  color: rgb(241, 234, 234);
  font-size: 18px;
}
.links {
  margin-top: 20px;
  font-size: 16px;
}

.links a {
  color:rgb(241, 235, 235);
  text-decoration: none;
  font-weight: initial;
  
}

.links a:hover {
  text-decoration: underline;
}

h2 {
    font-size: 30px;  
    color:  rgb(0, 0, 0); 
    margin-bottom: 25px; 
    font-weight: bold;  
}

input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;  
    border-radius: 8px;  
    font-size: 16px;  
    box-sizing: border-box;  
    transition: border-color 0.3s ease;  
    background: #253f76;
    color: #f8f3f3;
}
.links a + span {
    color: #f9f8f8;
    margin-left: 20px; 
    margin-right: 20px; 
}